{
  "arrowParens": "avoid",
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^constants/(.*)$",
    "^enums/(.*)$",
    "^types/(.*)$",
    "^utils/(.*)$",
    "^api/(.*)$",
    "^contexts/(.*)$",
    "^hooks/(.*)$",
    "^pages(.*)$",
    "^components(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
