@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('assets/font/plus_jakarta.woff2') format('woff2');
  font-style: normal;
}

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.4px;

  color-scheme: light dark;
  color: #e7e9f4;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #53b1fd;
  text-decoration: inherit;
}
a:hover {
  opacity: 0.8;
}
